*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F1E6C9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#head{
    align-items: center;
    display: flex;
    color: #FA891A;
    justify-content: center;
}

.box{
    padding: 2rem;;
    background-color: white;
    min-height: 45vh;
    width: 45vh;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

form{
    margin: 1rem 0 1rem 0;
}

form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgrey;
    font-size: 1rem;
    height: 3rem;
    padding-left:0.5rem ;
}

.dropdown{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.select-container{
    display: flex;
    justify-content: center;
    width: 6rem;
    align-items: center;
}

.select-container img{
    height: 2.5rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
}

.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container select{
    font-size: 1rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

form button{
    height: 3rem;
    background-color: #6E026F;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
